.user-search-input{
    border-radius: 1.5rem;
    max-width: 40rem;
    width: 100%;
}

.userlist-profile-pic{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.profile-card{
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.01) !important;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 1.5rem;
    cursor: pointer;
}


/* popup */
  
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    text-align: left;
}
  
.popup-inner {
    border-radius: 0.5rem !important;
    width: 100%;
    max-width: 25rem;
    overflow: auto;
    max-height: calc(100vh - 4rem);
}
  
.round-corner{
    border-radius: 1.5rem !important;
}